/* Main styles */
/*
BANNER
Dark Green: #030
Lighter Green: #060

TABS
Black: #000
Dark Grey: #333

TITLES

BODY COPY / LINKS
font-family: 'Source Sans Pro', sans-serif;
*/


body 
{
    margin: 0;
    padding: 0;
}   

.clear
{
    clear:both;
}
.navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container 
{
    width:auto;
    height:42px;
    background-color:#030;
}

.profile 
{
    margin:0;
    padding:0px 0px 0px 10px;
    background-color:White;
    height:100%;
    width:100%;
    font-family: 'Source Sans Pro', sans-serif;
    font-size:14px;
    color:black;
}

.profile .container
{
    background-color:White;
}

.picnav
{
    padding:0;   
    height:175px;
    width:100%;
    font-family:'Patua One', cursive;
    color:black;
}

.profpic
{
    height:150px;
    width:150px;
    padding-top:25px;
    float:left;
    border: 2;
}

.bioContainer
{
    padding-top:25px;
    height:108px;
    margin-left:150px;
    padding-left:10px;
    width:100%;
}

.nameContainer
{
    height:24px;
    width:100%;
}

.name
{
    font-family: 'Patua One', cursive;
    font-size:24px;
    font-weight:bold;
    float:left;
}

.quickBio
{
    height:50px;
    width:100%;
}

.quickBio1
{
    height:auto;
    width:50%;
    float:left;
}

.quickBio2
{
    height:auto;
    width:50%;
    float:left;
}

.usernav
{
    height:42px;
    width:100%;
    padding-left:150px;
    margin-left:10px;
    
}

.greybar
{
    height:5px;
    width:100%;
    background-color:#999;
}

.contact
{
    height:400px;
    width:150px;
    float:left;
    padding-top:10px;
  
}

.profile .content
{
    margin-left:150px;
    padding-left:10px;
    width:100%;
    height:100%;
    padding:10px;
    
}
.profile .leftContent
{
    width:30%;
    height:100%;
    float:left;
}

.profile .centerContent
{
    width:30%;
    height:100%;
    height:auto;
    float:left;
}

.profile .rightContent
{
    width:30%;
    height:100%;
    height:auto;
    float:left;
}
.titles
{
    font-family: 'Patua One', cursive;
    font-size:16px;
    float:left;
}

.nameContainer .titles
{
    padding-top:3px;
    padding-left:10px;
}

.bioContainer .titles
{
    color:#999;
}

.profile .content .titles
{
    font-size:20px;
    font-weight:bold;
}

.editButton
{
    margin-left:20px;   
}

.icon
{
    padding:0px 0px 0px 10px;
}

.usernav li a
{
    background-color:#333;
    color:White;
} 


.usernav .active li a
{
    font-weight:bold;   
}

.usernav .activeTab hover
{
    
}
/*
.navbar .brand 
{
 
    color:White;
    float:left;
    margin:0;
    padding:0;
    font-size:38px;
}
    
    /*
    .navbar .brand {
  display: block;
  float: left;
  padding: 10px 20px 10px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #777777;
  text-shadow: 0 1px 0 #ffffff;
}
*/
