/* Main styles */
/*
BANNER
Dark Green: #030
Lighter Green: #060

TABS
Black: #000
Dark Grey: #333

TITLES
font-family: 'Patua One', cursive;

BODY COPY / LINKS
font-family: 'Source Sans Pro', sans-serif;
*/

body {
  margin: 0;
  padding: 0;
}

.profile 
{
    margin:0;
    padding:0;
    background-color:White;
    font-family: 'Patua One', cursive;
    font-size:36px;
}

.header
{
    height:38px;
    background-color:#030;
    font-family: 'Patua One', cursive;
    color:White;
}

.navbar .brand 
{
    font-family: 'Patua One', cursive;
    color:White;
    float:left;
    margin:0;
    padding:0;
    font-size:38px;
}
    
    /*
    .navbar .brand {
  display: block;
  float: left;
  padding: 10px 20px 10px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #777777;
  text-shadow: 0 1px 0 #ffffff;
}
*/
