<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  {% block metas %}{% endblock %}
  <title>{% block title %}Academica{% endblock %}</title>
  <link rel="shortcut icon" href="{{ url_for('.static', filename='favicon.png') }}" />
  {% block override_styles %}
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Patua+One">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic">
  <link rel="stylesheet" href="{{ url_for('.static', filename='style.css') }}" />
  <link rel="stylesheet" href="{{ url_for('.static', filename='bootstrap/css/bootstrap.css') }}" />
  {% endblock %}
  {% block styles %}{% endblock %}
  <script src="{{ url_for('.static', filename='modernizr.js') }}"></script>
  <script src="{{ url_for('.static', filename='jquery.js') }}"></script>
  <script src="{{ url_for('.static', filename='jquery.jeditable.js') }}"></script>
  {% block priority_scripts %}{% endblock %}
</head>
<body>
  <div class="page">
    {% block page %}{% endblock %}
  </div>
  {% block scripts %}{% endblock %}
</body>
</html>
