{% extends "base.html" %}

{% block override_styles %}{% endblock %}

{% block metas %}
<meta property="og:title" content="Academica - The online career accelerator for academics." />
<meta property="og:type" content="company" />
<meta property="og:site_name" content="Academica" />
<meta property="og:url" content="http://www.academica.me" />
<meta property="og:image" content="https://launchrock-assets.s3.amazonaws.com/facebook-files/G9Tjpi3ZWrbmcMf.jpg" />
<meta property="og:description" content="Just signed up for Academica. Why not bring the entire experience of academia online in a cheaper, faster way?" />
{% endblock %}

{% block scripts %}
<script src="http://oauth.googlecode.com/svn/code/javascript/oauth.js"></script>
{% endblock %}

{% block page %}
<div class="landingPage">
	<div rel="OH6QI452" class="lrdiscoverwidget" data-logo="on" data-background="on" data-share-url="www.academica.me" data-css=""></div>
	<script src="http://launchrock-ignition.s3.amazonaws.com/ignition.1.1.js"></script>
</div>
{% endblock %}
