{% extends "base.html" %}

{% block title %}{{ user.first }} {{ user.last }} - Academica{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('.static', filename='style.css') }}" />
{% endblock %}

{% block priority_scripts %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script>
    // TODO: add code to edit profiles fields
</script>
{% endblock %}

{% block page %}
<!-- Navigation Bar - Universal? -->
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">
                <img class="icon" src="{{ url_for('.static', filename='academicaLogo.png') }}" />
            </a>
            <div class="nav-collapse collapse">
            <div class="nav"></div>
                <form class="navbar-form pull-right" >
                    <input class="span2" type="text" placeholder="Email">
                    <input class="span2" type="password" placeholder="Password">
                    <button type="submit" class="btn">Sign in</button>
                </form>
            </div
        </div>
    </div>  
</div>
        
<div class="profile">
    <!-- Profile Picture and NavButtons -->
    <div class="picnav">
        <div class="profpic"><img src="{{ user.photoUrl if user.photoUrl else url_for('.static', filename='profileSilhouette.png') }}" /></div>
        <div class="bioContainer">
            <div class="nameContainer">
                <div class="name">{{ user.first }} {{ user.last }} </div>
                <div class="titles">{{ user.credentials }}</div>
            </div>
            <div class="quickBio1">
                <div class="titles">{{ user.interests }} &nbsp;</div>
            </div>
            <div class="quickBio2">
                <div class="titles">{{ user.expertise }} &nbsp;</div>
            </div>
            <div class="clear"></div>
        </div>


        <div class="usernav">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">Profile</a></li>
                <li><a href="research">Research</a></li>
                <li><a href="#">JobTalk</a></li>
                <li><a href="#">Workshop</a></li>
            </ul>
        </div>

    </div>

    <div class="greybar"></div>

    <!-- Contact Info Pane -->
    <div class="contact">
        <h5>Contact Info</h5>
        <img class="icon" src="{{ url_for('.static', filename='email.png') }}" /> <a href="mailto:{{ user.email }}">{{ user.email }}</a><br />
        <img class="icon" src="{{ url_for('.static', filename='phone.png') }}" /> <a href="tel:{{ user.phone }}">{{ user.phone }}</a><br />
        <br /><br />
        {% if user.available %}
            <img class="icon" src="{{ url_for('.static', filename='online.png') }}" /> <a href="#">Available</a><br />
        {% else %}
            <img class="icon" src="{{ url_for('.static', filename='offline.png') }}" /> Unavailable<br />
        {% endif %}
        <img class="icon" src="{{ url_for('.static', filename='group.png') }}" /> <a href="#">Refer a Friend</a><br />
    </div>

    <!-- Content panes -->
    <!-- TODO: make scrollable -->
    <div class="content">
        <div class="leftContent">
            {% if user.education %}
            <div class="profileSection">
                <div class="titles">Education</div>
                <br /><br />
                {% for item in user.education %}
                    <strong>{{ item.university }}</strong> <br />
                    {{ item.field }} <br />
                    {{ item.years }} <br />
                    <br />
                {% endfor %}
                <br />
            </div>
            {% endif %}

            {% if user.skills %}
            <div class="profileSection">
                <div class="titles">Research Skills</div>
                <br /><br />
                {% for item in user.skills %}
                    {{ item }} <br />
                {% endfor %}
                <br />
            </div>
            {% endif %}
        </div>
        <div class="centerContent">
            {% if user.positions %}
            <div class="profileSection">
                <div class="titles">Positions</div>
                <br /><br />
                {% for item in user.positions %}
                    <strong>{{ item.title }}</strong> <br />
                    {{ item.location }} <br />
                    {{ item.years }} <br />
                    <br />
                {% endfor %}
                <br />
            </div>
            {% endif %}

            {% if user.theory %}
            <div class="profileSection">
                <div class="titles">Theory Base</div>
                <br /><br />
                {% for item in user.theory %}
                    {{ item }} <br />
                {% endfor %}
                <br />
            </div>
            {% endif %}
        </div>
        <div class="rightContent">
            {% if user.awards %}
            <div class="profileSection">
                <div class="titles">Awards</div>
                <br /><br />
                {% for item in user.awards %}
                    {{ item }} <br /><br />
                {% endfor %}
                <br />
            </div>
            {% endif %}

            {% if user.languages %}
            <div class="profileSection">
                <div class="titles">Language</div>
                <br /><br />
                {% for item in user.languages %}
                    {{ item }} <br />
                {% endfor %}
                <br />
            </div>
            {% endif %}
        </div>
    </div> 
    
</div> 
{% endblock %}
